<%= render 'shared/content_title', title: "Category: #{@category.name}" %>

<p><%= link_to 'Back', posts_path %>
  | <%= link_to 'Edit', edit_category_path %></p>

<% if @category.posts.any? %> 
  <%= render @category.posts %>
<% end %>
